
#popover-basic {
    max-width: 300px;
    box-shadow: 0 8px 16px hsla(0, 0%, 0%, 0.5); 
    border: 1px solid #444; 
    border-radius: 10px;
}

.popover-header {
    background-color: #333;
    color: #fff;
    border-bottom: 1px solid #444;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    padding: 10px 15px;
}

.popover-body {
    background-color: #2C2C2C;
    color: #fff;
    padding: 15px; 
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px; 
}

.btn-primary {
    
    background-color: #E3FEF7;
    color: #2C2C2C;
    border: none;
    border-radius: 5px; 
    padding: 5px 10px; 
    margin-left: 10px; 
}

.btn-primary:hover {
    background-color: #D1F3EC;
    color: #2C2C2C;
}

.btn-secondary {
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px; 
    margin-right: 10px; 
}

.btn-secondary:hover {
    background-color: #666;
    color: #fff;
}

.form-control {
    background-color: #444; 
    color: #fff; 
    border: 1px solid #555; 
    border-radius: 5px; 
    padding: 5px 10px; 
}

.form-control:focus {
    background-color: #555; 
    color: #fff;
    border-color: #777; 
    box-shadow: none; 
}
