#popover-basic {
    max-width: 100%; /* تحديد أقصى عرض للبوب ​​أوفر */
}

.popover-header {
    background-color: #333;
    color: #fff;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    padding: 10px 15px;
}

.popover-body {
    background-color: #2C2C2C;
    color: #fff;
    padding: 15px; 
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px; 
}

.btn-primary,
.btn-secondary {
    width: 45%; /* تعيين عرض الأزرار */
}

.form-control {
    width: calc(100% - 20px); /* تعيين عرض مربع النص مع الهامش */
    margin-bottom: 10px; /* زيادة المسافة بين حقل النص والأزرار */
}
