/*AboutusCard*/
.aboutuscard {
  width: 400px;
  height: fit-content;
  background: #07182E;
  position: relative;
  display: grid;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.user-image {

  margin-top: 20px;
  margin-bottom: 20px;
  z-index: 1;
  width: 200px;
  /* height: 150px; */
  border-radius: 50%;
}


.aboutuscard p {
  z-index: 1;
  color: white;
  font-size: 2em;
  padding-inline: 50px;
  text-align: justify;
}

.aboutuscard::before {
  content: '';
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, rgb(0, 183, 255), hsl(7, 92%, 50%));
  height: 130%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.aboutuscard::after {
  content: '';
  position: absolute;
  background: #07182E;
  inset: 5px;
  border-radius: 15px;
}  
/* .aboutuscard:hover:before {
  background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
  animation: rotBGimg 3.5s linear infinite;
} */

.linkedin {
  display: inline-block;
  margin-top: 10px;
  z-index: 9;
}

.linkedin-img {
  width: 40px;
  height: 40px;
  margin-bottom: 25px;
}


