body{ background-color: hsl(0, 0%, 3%);}
.cardlist-container {
    padding: 20px;
    background-color: hsl(0, 0%, 9%);
    border: 2px solid #181717;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.section {

    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 30px;
}

.section-title {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.slider-container{
    
        padding: 20px;
        background-color: hsl(0, 0%, 5%);
        border: 1px solid hsl(0, 2%, 11%);
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);

}


.slide-number {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    color: #aaa7a7;
}