body {
    /* background-color: hsl(0, 0%, 3%); */
    height: 100%;
}

.cardlist-container {
    padding: 20px;
    /* background-color: hsl(0, 0%, 9%); */
    border: 2px solid #181717;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); */
}

.slider-class {
    height: 405px;
}

.cardlist-container .section {
    margin: 50px 7px 30px;
}

.section-title {
    background-color: #08142b;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-transform: capitalize;
    font-family: 'Monaco';
    font-weight: 900;
}

.slider-container {
    padding: 20px;
    /* background-color: hsl(0, 0%, 5%) */
    background-color: #040a16;
    border: 1px solid hsl(0, 2%, 11%);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    padding: 50px;
   

}

.slide-number {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    color: #aaa7a7;
}

