
/*.my-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  .d-flex {
    display: flex;
  }
  
  .flex-wrap {
    flex-wrap: wrap;
  }
  
  .justify-content-left {
    justify-content: left;
  }
  

  .card {
    margin-right: 20px;
    margin-bottom: 20px;
    
  }
  

  /* .card img {
    max-width: 100%;
    height: auto;
  } */
  

  /*p{
    display: flex;
    justify-content: center;
    align-items: center;

  }*/

  .search-result-card {
    flex: 1 0 21%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    justify-content: flex-end; /* Move the content downwards */
    min-height: 300px;
    margin-top: 600px; /* Move the card down */
    margin-right: 500px;
    
  }
  

  