.backgroundColorNavBar {
    /* background-color: #222831;
     */
     background: linear-gradient(to bottom, #222831, #393e46);

    width: 100%;
    height: 70px;
    min-height: 70px;

}

.link {
    color: white !important;
    margin-left:20px; 
    margin-top: 10px;
}

.link:hover {
    color: gold !important;
}
