.textCenterArea{
    color: white;
    background: linear-gradient(to bottom, #222831, #393e46);

    text-align: center;
} 
.logo{
    color: white !important;
}
.line{
    padding: 1rem;
    margin:0% 5%;
}