
  .footer {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 2rem 0;
    
  }
  
  .footer-col {
    width: 20%;
    text-align: justify;
    margin: 0 10px;
  }
  
  .footer-col h3 {
    margin-bottom: 1rem;
  }
  
  .footer-col ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-col ul li {
    margin-bottom: 0.5rem;
  }
  
  .footer-col ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-col ul li a:hover {
    color: #ccc;
  }
  
  .footer-col form {
    display: flex;
    flex-direction: column;
  }
  
  .footer-col form input[type="email"] {
    padding: 0.5rem;
    border-color:white;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
  }
  .footer-col form input[type="text"] {
    padding: 2rem;
    border-color:white;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
  }
  
  
  .footer-col form button[type="submit"] {
    padding: 0.5rem;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  .footer-col form button[type="submit"]:hover {
    background-color: #ccc;
  }