* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.header-in-home {
    width: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.section-search {
    z-index: 2;
    position: absolute;
    top: 30px;
}

#logo {
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    color: #00a7ff;
}

#logo:hover {
    color: #eef9ff;
}

#logo-s {
    color: #eef9ff;
    margin-left: 5px;
}

#logo:hover #logo-s {
    color: #00a7ff;
}

/* .nav-links {
    display: flex;
    gap: 20px;
} */

.tab-home a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.act {
    padding: 6px 15px;
}

.tab-home a:hover {
    color: #00a7ff;
}

.menu-toggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}

.slideritem {
    max-width: 100%;
    height: 650px;
}

.slideritem-01 {
    background: linear-gradient(rgb(0, 13, 107, 0.5), rgb(0, 13, 107, 0.5)), url("https://shorturl.at/70hWp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slideritem-02 {
    background: linear-gradient(rgb(0, 13, 107, 0.5), rgb(0, 13, 107, 0.5)), url("https://png.pngtree.com/thumb_back/fh260/background/20230610/pngtree-woman-in-colorful-music-sound-wallpaper-image_2894117.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slideritem-03 {
    background: linear-gradient(rgb(0, 13, 107, 0.5), rgb(0, 13, 107, 0.5)), url("https://png.pngtree.com/background/20230528/original/pngtree-colorful-music-girl-with-headphones-picture-image_2774567.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slideritem-04 {
    background: linear-gradient(rgb(0, 13, 107, 0.5), rgb(0, 13, 107, 0.5)), url("https://e0.pxfuel.com/wallpapers/387/396/desktop-wallpaper-cool-rainbow-music-background-background-music-computer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slidercontent {
    padding-top: 150px;
}

.slidercontent h1 {
    font-size: 3.2rem;
    font-weight: 600;
}

.reservebtn {
    background: #fff !important;
    color: #000d6b !important;
    border: none;
    outline: none;
}

.reservebtn a {
    text-decoration: none;
    font-weight: 600;
    color: #000d6b;
}

.reservebtn:hover {
    background: #000d6b;
    color: #fff;
}

/* Responsive Styles */
/* باقي الأنماط كما هي */
.menu-toggle-home {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}


@media only screen and (max-width: 768px) {
    .header-in-home {
        flex-direction: row;
        align-items: flex-start;
    }

    .nav-home {
        flex-direction: column;
        display: none;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 10px 0;
        margin-left: 150px;
        /* align-items: flex-end;  */
        /* تحديد محاذاة روابط الصفحات إلى اليمين */
        /* order: 2;  */
        /* روابط الصفحات تظهر بعد اللوغو في الجزء الأسفل */
    }

    .nav-home.open {
        display: flex;
    }

    .header-in-home {
        margin: 10px 0;
        /* text-align: center; */

    }

    .menu-toggle-home {
        display: block;
        /* order: 4; */
        /* زر القائمة المنسدلة يظهر في الجزء الأسفل */
    }
}



/* .searchBar {
    margin-bottom: 300px;
} */