* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.home-header {
    height: 60px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    font-size: 20px;
}

#logo {
    line-height: 60px;
    margin-left: 40px;
    display: inline-block;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    color: #00a7ff;
}

#logo:hover {
    color: #eef9ff;
}

#logo-s {
    color: #eef9ff;
    margin-left: 5px;
}

#logo:hover #logo-s {
    color: #00a7ff;
}

.home {
    float: right;
    line-height: 60px;
    margin-right: 40px;
}

.home a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.act {
    /* border: 2px solid #fff; */
    /* border-radius: 50px; */
    padding: 6px 15px;
}

.home a:hover {
    color: #00a7ff;
    /* blue */
    border-color: #00a7ff;
    /* blue */
}

.slideritem {
    max-width: 100%;
    height: 650px;
}

.slideritem-01 {
    background: linear-gradient(rgb(0, 13, 107, 0.5), rgb(0, 13, 107, 0.5)),
        url("https://shorturl.at/70hWp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slideritem-02 {
    background: linear-gradient(rgb(0, 13, 107, 0.5), rgb(0, 13, 107, 0.5)),
        url("https://png.pngtree.com/thumb_back/fh260/background/20230610/pngtree-woman-in-colorful-music-sound-wallpaper-image_2894117.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slideritem-03 {
    background: linear-gradient(rgb(0, 13, 107, 0.5), rgb(0, 13, 107, 0.5)),
        url("https://png.pngtree.com/background/20230528/original/pngtree-colorful-music-girl-with-headphones-picture-image_2774567.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slideritem-04 {
    background: linear-gradient(rgb(0, 13, 107, 0.5), rgb(0, 13, 107, 0.5)),
        url("https://e0.pxfuel.com/wallpapers/387/396/desktop-wallpaper-cool-rainbow-music-background-background-music-computer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slidercontent {
    padding-top: 150px;
}

.slidercontent h1 {
    font-size: 3.2rem;
    font-weight: 600;
}

.reservebtn {
    background: #fff !important;
    color: #000d6b !important;
    border: none;
    outline: none;
}

.reservebtn a {
    text-decoration: none;
    font-weight: 600;
    color: #000d6b;
}

.reservebtn:hover {
    background: #000d6b;
    color: #fff;
}

@media only screen and (max-width: 992px) {
    .slideritem {
        height: 530px;
        max-width: 100vw;
    }

    .slidercontent {
        margin-top: -50px;
    }

    .slidercontent h1 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .slideritem {
        height: 450px;
    }

    .slider__content h1 {
        font-size: 1.5rem;
    }
}

/* .slideritem-01,
.slideritem-02,
.slideritem-03,
.slideritem-04 {
    visibility: hidden;
} */
